<div class="navbar-wagon navbar-wagon-fixed <%= add_hidden_class %>">
  <!-- Logo -->
  <%= link_to cocktails_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", id: "logo" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <div class="hidden-xs hidden-sm">
      <%= link_to cocktails_path do %>
        <i class="fa-white fa fa-home"></i>
      <% end %>
    </div>
    <!-- Search form -->
    <form action="/cocktails/search" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Find a cocktail" name="query">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <!-- Button (call-to-action) -->
    <div class="hidden-xs hidden-sm">
      <%= link_to t(".top_call_to_action", default: "Share a cocktail"), new_cocktail_path, class: "left-marged -wagon-item navbar-wagon-button btn" %>
    </div>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa-white fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to 'New cocktail', new_cocktail_path%></li>
        <li><%= link_to 'Home', cocktails_path %></li>
      </ul>
    </div>
  </div>
</div>
